@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darker-grey: #161616;
  --green: #00fca4;
  --dark-grey: #303030;
  --light-grey: #e6e6e6;
  --violet: #6932ff;
  --pink: #ff0069;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #161616;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
